textarea{
    width:100%;
    height:100px;
}

#workbench{
    margin-top:65px;
}

#editor{
    height:300px;
}

.error{
    background-color: palevioletred;
}

.success{
    background-color: lightskyblue;
}