textarea{
    width:100%;
}

#workbench{
    margin-top:65px;
}

.CodeMirror{
    font-size:200%;
    height:200px !important;
    border: solid 1px #737373;
}

.CodeMirror span{
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.error{
    background-color: palevioletred;
}

.success{
    background-color: lightskyblue;
}